body{
  padding: 50px;
  background-color: rgb(31, 31, 31);
}

p, h2{
  color: white;
}

p{
  margin-left: 42.5vw;
  background-color: rgb(16, 16, 16);
  padding: 2px;
  width: 10em;
  text-align: center;
}