body{
  padding: 50px;
  background-color: rgb(31, 31, 31);
}

p, h2, label{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

p{
  text-align: center;
}

input, button{
  margin: 5px;
}

#center{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}